<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Rate</th>
    <th>Hours</th>
    <th>Total</th>
    <% unless @invoice.sent? -%>
      <th></th>
    <% end -%>
  </tr>
  <% @invoice.activities.each do |activity| %>
    <tr data-id="<%= activity.id %>" class="<%= cycle 'highlight', '' %>">
      <td class="highlight"><%= activity.date.to_formatted_s(:short_ordinal) %></td>
      <td><%= truncate activity.description, :length => 100 %></td>
      <td class="highlight"><%= number_to_currency activity.rate, :unit => '£' %></td>
      <td><%= activity.hours %></td>
      <td class="highlight"><%= number_to_currency activity.total, :unit => '£' %></td>
      <% unless @invoice.sent? -%>
        <td class="control"><%= button_to 'Destroy', invoice_activity_path(@invoice, activity), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'bigpic delete' %></td>
      <% end -%>
    </tr>
  <% end %>
</table>

