<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.collection_select :client_id, Client.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.date_select :to %>
  </div>
  <div class="field">
    <%= f.label :paid_at %><br />
    <%= f.datetime_select :paid_at %>
  </div>
  <div class="field">
    <%= f.label :sent_at %><br />
    <%= f.datetime_select :sent_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

