<div id="payment_details">
  <label>Date Sent:</label>
  <% if @invoice.sent? -%>
    <strong><%= @invoice.sent_at.to_formatted_s(:short_ordinal) %></strong>
    <label>Date Paid:</label>
    <% if @invoice.paid? -%>
      <strong><%= @invoice.paid_at.to_formatted_s(:short_ordinal) %></strong>
    <% else -%>
      <% form_for @invoice, :remote => true, :html => {:class => "button-to"} do |f| -%>
        <%= f.hidden_field :been_paid, :value => '1' %>
        <%= f.submit 'Mark as paid' %>
      <% end -%>
    <% end -%>
  <% else -%>
    <% form_for @invoice, :remote => true, :html => {:class => "button-to"} do |f| -%>
      <%= f.hidden_field :been_sent, :value => '1' %>
      <%= f.submit 'Mark as sent' %>
    <% end -%>
  <% end -%>
</div>

