<% if @client -%>
  <h2>New invoice for <%= @client.name %></h2>
<% else -%>
  <h2>New invoice</h2>
<% end -%>

<% form_for([@client, @invoice]) do |f| %>
  <%= f.error_messages %>

  <% unless @client -%>
    <div class="field">
      <%= f.label :client_id %><br />
      <%= f.collection_select :client_id, Client.all, :id, :name %>
    </div>
  <% end -%>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.date_select :to %>
  </div>
  <div class="field">
    <label>Sent to client?</label>
    <%= f.check_box :been_sent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="results" class="hidden">

</div>


<div class="controls">
  <%= link_to 'Back', invoices_path, :class => 'bigpic back' %>
</div>

