%h2 Configurations
%p
  = link_to('New configuration', new_configuration_path, :class => 'icon_left add')
  
%table
  %thead
    %tr
      %th Vat percent
      %th Vat
      %th Flat rate percent
      %th Flat rate
      %th
      %th
      %th
  %tbody
    - @configurations.each do |configuration|
      %tr{:class => cycle('odd', 'even')}
        %td
          = configuration.vat_percent
        %td
          = configuration.vat
        %td
          = configuration.flat_rate_percent
        %td
          = configuration.flat_rate
        %td.has_icon
          = link_to('Show', configuration, :class => 'icon show')
        %td.has_icon
          = link_to('Edit', edit_configuration_path(configuration), :class => 'icon edit')
        %td.has_icon
          = link_to('Destroy', configuration, :confirm => 'Are you sure?', :method => :delete, :class => 'icon delete')
