%h2 Configuration details

.attributes
  .attribute
    %p.name
      %strong Vat percent
    .value
      = @configuration.vat_percent
  .attribute
    %p.name
      %strong Vat
    .value
      = @configuration.vat
  .attribute
    %p.name
      %strong Flat rate percent
    .value
      = @configuration.flat_rate_percent
  .attribute
    %p.name
      %strong Flat rate
    .value
      = @configuration.flat_rate

%p.controls
  = link_to('Edit', edit_configuration_path(@configuration), :class => 'icon_left edit')
  |  
  = link_to('Delete', @configuration, :confirm => 'Are you sure?', :method => :delete, :class => 'icon_left delete')
