<h2>Settings</h2>

<% form_for(@setting) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :vat_percent %><br />
    <%= f.text_field :vat_percent %>
  </div>
  <div class="field">
    <%= f.label :flat_rate_percent %><br />
    <%= f.text_field :flat_rate_percent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

