<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Position:</b>
  <%= @contact.position %>
</p>

<p>
  <b>Main:</b>
  <%= @contact.main %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @contact.mobile %>
</p>

<p>
  <b>Skype:</b>
  <%= @contact.skype %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Client:</b>
  <%= @contact.client %>
</p>

<div class="controls">
  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Back', contacts_path %>
</div>

