<%= form_for [@client, @project], :remote => true do |f| %>
  <%= render 'shared/error_messages', :target => @activity %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

