= simple_form_for(@activity) do |f|
  = f.error_notification

  .inputs
    = f.input :hours
    = f.input :date
    = f.association :project, :include_blank => false
    = f.input :description

  .actions
    = f.button :submit
