<% if @client -%>
  <h2><%= @client.name %> activities</h2>
<% else -%>
  <h2>All activities</h2>
<% end -%>

<div class="filter">
  <% form_for @filter, :url => activities_path, :html => { :method => :get } do |f| -%>
    <% unless @client -%>
      <label>Client</label> <%= f.collection_select :client_id, Client.all, :id, :name, :include_blank => true %>
    <% else -%>
      <%= hidden_field_tag :client_id, @client.id %>
    <% end -%>
    <label>From</label> <%= f.date_select :date_from, :include_blank => true %>
    <label>To</label> <%= f.date_select :date_to, :include_blank => true %>
    <%= f.submit 'Apply' %>
  <% end -%>
</div>

<table id="activities">
  <thead>
    <tr>
      <% unless @client -%>
        <th>Client</th>
      <% end -%>
      <th>Date</th>
      <th></th>
      <th>Rate</th>
      <th>Hours</th>
      <th>Total</th>
      <th>Invoice</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @activities %>
  </tbody>
</table>

<div class="controls">
  <% if @client -%>
    <%= link_to 'New activity', new_client_activity_path(@client), :class => 'bigpic add', 'data-display' => 'popup' %>
  <% else -%>
    <% form_tag new_activity_path, :method => :get do -%>
      <%= select_tag :client_id, options_for_select(Client.all.collect { |client| [client.name, client.id] }) %>
      <%= submit_tag 'New activity', :class => 'bigpic add' %>
    <% end -%>
  <% end -%>
</div>

