<% if @client -%>
  <h2><%= @client.name %> activities</h2>
<% else -%>
  <h2>All activities</h2>
<% end -%>

<div class="filter">
  <% form_for @filter, :url => activities_path, :html => { :method => :get } do |f| -%>
    <% unless @client -%>
      <label>Client</label> <%= f.collection_select :client_id, Client.all, :id, :name, :include_blank => true %>
    <% else -%>
      <%= hidden_field_tag :client_id, @client.id %>
    <% end -%>
    <label>From</label> <%= f.date_select :date_from, :include_blank => true %>
    <label>To</label> <%= f.date_select :date_to, :include_blank => true %>
    <%= f.submit 'Apply' %>
  <% end -%>
</div>

<table>
  <tr>
    <% unless @client -%>
      <th>Client</th>
    <% end -%>
    <th>Date</th>
    <th></th>
    <th>Rate</th>
    <th>Hours</th>
    <th>Total</th>
    <th>Invoice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr id="activity_<%= activity.id %>" class="<%= cycle 'highlight', '' %>">
    <% unless @client -%>
      <td class="highlight"><%= link_to activity.client.name, client_activities_path(activity.client) %></td>
    <% end -%>
    <td><%= activity.date.to_formatted_s(:short_ordinal) %></td>
    <td class="control highlight">
      <span class="bigpic info"></span>
      <% unless activity.description.blank? -%>
        <div class="activity_description hidden"><%= activity.description %></div>
      <% end -%>
    </td>
    <td><%= number_to_currency activity.rate, :unit => '£' %></td>
    <td class="highlight"><%= activity.hours %></td>
    <td><%= number_to_currency activity.total, :unit => '£' %></td>
    <td class="highlight"><%= link_to(activity.invoice.code, activity.invoice) if activity.invoiced? %></td>
    <td class="control"><%= link_to 'Show', activity, :class => 'bigpic show' %></td>
    <td class="control highlight"><%= activity.sent? ? raw('<span class="bigpic edit_disabled"></span>') : link_to('Edit', edit_activity_path(activity), :class => 'bigpic edit') %></td>
    <td class="control"><%= activity.sent? ? raw('<span class="bigpic delete_disabled"></span>') : button_to('Destroy', activity, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'bigpic delete') %></td>
  </tr>
<% end %>
</table>

<div class="controls">
  <% if @client -%>
    <%= link_to 'New activity', new_client_activity_path(@client), :class => 'bigpic add', 'data-display' => 'popup' %>
  <% else -%>
    <% form_tag new_activity_path, :method => :get do -%>
      <%= select_tag :client_id, options_for_select(Client.all.collect { |client| [client.name, client.id] }) %>
      <%= submit_tag 'New activity', :class => 'bigpic add' %>
    <% end -%>
  <% end -%>
</div>

