<h2>Activity</h2>

<p>
  <b>Client:</b>
  <%= @activity.client.name %>
</p>

<p>
  <b>Project:</b>
  <%= @activity.project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Rate:</b>
  <%= number_to_currency @activity.rate, :unit => '£' %>
</p>

<p>
  <b>Hours:</b>
  <%= @activity.hours %>
</p>

<p>
  <b>Total:</b>
  <%= number_to_currency @activity.total, :unit => '£' %>
</p>

<div class="controls">
  <%= link_to 'Back', activities_path, :class => 'bigpic back' %>
  <%= link_to('Edit', edit_activity_path(@activity), :class => 'bigpic edit') unless @activity.sent? %>
</div>

