<!DOCTYPE html>
<html>
  <head>
    <title><%= controller.controller_name %><%= controller.action_name %></title>
    <%= stylesheet_link_tag 'reset', 'typography', 'scaffold', 'site', 'ui-darkness/jquery-ui-1.7.2.custom', 'jquery.jgrowl', 'facebox' %>
    <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.7.2.custom.min', 'application', 'rails', 'jquery.inspect', 'jquery.jgrowl', 'facebox', 'jquery.easing-1.3.pack', 'jquery.mousewheel-3.0.2.pack' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="banner">
        <h1><a href="/">Timesheets</a></h1>
      </div>
      <div id="content">
        <div id="left">
          <div class="navigation">
            <ul class="list">
              <li><%= link_to 'Clients', clients_path %></li>
              <li><%= link_to 'Activities', activities_path %></li>
              <li><%= link_to 'Invoices', invoices_path %></li>
              <li><%= link_to 'Settings', settings_path %></li>
            </ul>
          </div>
        </div>
        <div id="middle">
          <%= yield %>
          <div class="clear_both"></div>
        </div>
      </div>
      <div id="footer">

      </div>
    </div>

  </body>
</html>

